.wrapper {
    margin-top: 1rem;
    width: 20rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: start;
    text-decoration: none;
    color: inherit;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 5px #674636;
    border-radius: 0.25rem;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.wrapper:hover {
    box-shadow: 0 4px 15px #674636;
}

.wrapper:hover .title {
    transform: scale(1.05);
}

.wrapper .title {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    z-index: 100;
}